body {
  margin: 0 auto;
	width: 90%;
	max-width: 1240px;
	font-family: 'Roboto', sans-serif;
	background-color: #f6f6f6;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
.search-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  padding: 60px;
  background-color: #2874f0;
}
.search-input {
  width: 100%;
  height: 27px;
  border: 1px solid #cdcdcd;
  border-radius: 2px;
  padding: 10px;
  font-size: 14px;
}
.search-input-block {
  width: 33%;
}
.search-button-block {
  position: relative;
  width: 7%;
  color: #ffffff;
  background: #ffffff;
  margin-left: 22px;
  height: 47px;
  border: 1px solid #cdcdcd;
}
.button-styl {
  width: 63%;
  cursor: pointer;
  padding: 14px;
  background-color: #fff!important;
  color: #2874f0;
}
.dd-block {
  width: 9%;
  border: 1px solid #cdcdcd;
  height: 47px;
  border-radius: 2px;
  position: relative;
  cursor: pointer;
  background-color: #fff;
}
.dd-header-block {
  width: 71%;
  padding: 15px;
  background: #fff;
  color: #2874f0;
}
.dd-list-block {
  list-style-type: none;
  padding: 2px;
  border: 1px solid #cdcdcd;
  margin: 0;
  background-color: #fff;
}
.dd-list-item {
  padding:6px
}
.product-detail-box {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
}
.product-detail-list {
  position: relative;
  padding:2%;
  flex-grow:1;
  flex-basis:21%;
  display: flex;
  flex-direction: column;
  background-color: #FFF;
	box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.25);

}
.product-image img {
  max-width: 100%;
}
.product-info{
  margin-top: auto;
  padding-top: 20px;
	text-align: center;
}
input:focus {
  outline: none;
}
.fav-button {
  position: absolute;
  bottom: 9px;
  border: 1px solid #cdcdcd;
  color: #c70a0a;
  background: #fff;
  padding: 5px;
  cursor:pointer
}
.mt-60 {
  margin-top: 60px;
}

.fav-checkbox {
  margin-left: 10px;
  color:#fff;
}